#footer{
	color: $secondaryColor;
	img{
		background-color:$mainColor;
	}
}
#footer-nav{
	ul li{
		list-style: none;
	} 
		a {
		list-style: none;
		text-decoration: none;
		color: $secondaryColor;
	}
}