.navbar{
	background-color:$mainColor;
}
#navbarSupportedContent{
	font-family:$fontMain;
	color:$secondaryColor;
	width: $w-100;
	text-align: center;
	background-color:$mainColor;
	ul li a{
		color:$secondaryColor;
		&:hover{
				color:$keyColor;
				}
	}
	.dropdown-item{
		color:$mainColor;
	}
}
